body{
    margin:0;
    padding:0;
    font-family: arial;
}
header{
display:  flex;
position: fixed ;
top:0;
width:75%;
height:80px;
justify-content: space-between;
padding: 0 190px;
border-bottom:1px solid lightgray;
align-items: center;
background-color: white;

}
header img{
    position: left;

}
.nav-menu{
   display: flex;
   list-style: none;
   width:300px;

   font-size:14px;
   text-decoration: none;
   color:#ABABAB
}
.nav-item{
    padding:0 10px;

}
.nav-item a{
    text-decoration: none;
  color:#ABABAB
}


.active-link{color:#00CCB1 !important}

header .dropdown {
    text-decoration: none;
    color:#ABABAB;
   
    display: inline-block;
    cursor: pointer;
    padding:0 10px;
    
  }
  .active-link{color:#00CCB1 !important}
  

  .dropdown a{
    font-family: Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    cursor: pointer;
    box-sizing: inherit;
    background-color: transparent;
    outline: 0;
    transition: all .2s ease 0s;
    color: #ababab;
    display: block;
    text-decoration: none;

   
  
  }
  
  .dropdown-content {
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    cursor: pointer;
    box-sizing: inherit;
    width: 100%;
    display: inline-block;
  
    font-family: Roboto,Arial,sans-serif;
  color: #747474;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 2em;
  cursor: pointer;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Roboto,Arial,sans-serif;
  color: #747474;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 2em;
  cursor: pointer;
  box-sizing: inherit;
  display: none;
  padding-top: 10px;
  position: absolute;
  min-width: 220px;
  margin-left: -100px;
  background: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  z-index: 1;
  }
  
  .dropdown-content a {
    font-family: Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  font-size: .9375rem;
  font-weight: 400;
  box-sizing: inherit;
  background-color: transparent;
  outline: 0;
  transition: all .2s ease 0s;
  width: 100%;
  line-height: 120%;
  padding: 12px 16px!important;
  color: #ababab;
  display: block;
  text-decoration: none;
  }
  .dropdown-content a:hover {background-color: rgb(241, 241, 241);}
  
  .dropdown:hover .dropdown-content {display: block;}

main{
    margin-top:100px;
    width:100%;
    margin: auto;
    margin-top:150px;
    
}
.experience-section{
 width:1000px;
 margin: auto;
 


}
.experience-title,.experience-description{
width: 1000px;
margin: auto;
display: flex;
justify-content: space-between;




}


.experience-title{
    flex-flow: column wrap;
    align-items: center;}
    
.section-title{
color:#00CCB1 ;
font-size:34px;
font-weight: 200;


}
.text-description{
    width:470px;
   padding: 10px;
   color:#919191;
   line-height: 2em;
  
   
}

.carrbleau{

    margin: auto;
    display: flex;

justify-content: space-between;
margin-top:50px;
border-radius: 10px;
font-family: Arial,sans-serif;
  
}



.patient-carrbleau, .doctor-carrbleau, .clinc-carrbleau{
    
    
width:250px;
height:300px;
border-radius: 10px;
padding: 40px 20px 20px 40px;
position: relative;
overflow: hidden;
z-index: -5;
color: white;
}
.patient-carrbleau{background: #00CCB1}
.doctor-carrbleau{background: #3D83DF}
.clinc-carrbleau{background: #1b2734}



.category{
    font-size:14px;
    color:#eeeded;
    font-weight: 100;
   
    margin:0;
 

}
.pane-title{
    color:white;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0 100px 0 0;
   
    line-height: 1.5em;
   
}

.row{
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    border-radius: 4px;
    text-decoration: none!important;
    transition: all .2s ease 0s;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 35px;

}
.row-img{
position: absolute;
width:380px;
height:260px;
right:-130px;

}
.row .coutry-list{

    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    -webkit-appearance: none;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    height: 40px;
    color: white;
position:inherit;
cursor: pointer;


}
.coutry-list{
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: bold;
    background: transparent;

}

.experience-info{

    width:270px;
   
  
  
}
.text-blue{

    color:#00CCB1;
    font-size: 24px;
    font-weight: 100
}




.partner-list{
    display: flex;
  
    width:1000px;
    justify-content: space-between;
    margin: 30px 0 10px 0;
    align-items: center;
   

}
.partner-menu{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    
   



}
.partner-item{

    width:150px;
    padding: 15px 0


}

.partner-item-name {

    color:#ABABAB;
text-decoration: none;
font-weight: bold;
display: flex;
justify-content: flex-end;
align-items: center;


}
.partner-item-name img{

    margin: 0 7px;
}
.partner-item-name:hover{

    color:#00BFA5
}
.acheivment-section{
    width:100%;

    background:url(img/logo.png) no-repeat,#DFF8F6;
    display: flex;
    justify-content: center;
    height:570px;
   
background-position: 80px 250px;
overflow: hidden;

}

.left-carrbleau{
width: 420px;
padding-top:50px;

}



.right-carrbleau{
display: flex;
width:550px;
flex-flow: row  wrap;
justify-content: space-around;
align-items: center



}
.offset-carrbleau{margin-top:30px}


.acheivement-item{
    width:190px;
    
    height:200px;
    padding: 20px;
    text-align: center;

    background: white;
    margin: 20px 0;
    border-radius: 5px;


}
.section-title{
line-height:1em;
margin: 0;

}
.acheivement-info, .acheivement-item-desc,.section-city-text{

    font-size:14px;
    color:#747474;
    line-height: 1.5em;


}
.acheivement-item-title{

    color:#00BFA5;
    font-size: 22px;
    font-weight: 200
}

.city-section{
width:80%;
text-align: center;
padding: 100px 0 0 0 ;
margin: auto;


}

.section-city-text{
    text-align: center;
width:450px;
margin: auto;
padding:0;


}
.city-group{
margin : 100px 0;
display: flex;
width:1100px;
flex-flow: row wrap;
justify-content: center;
}
.city{
width:310px;
height:350px;
border: 1px solid rgb(245, 245, 245);
border-radius: 8px;
margin:10px;

}
.city-img{
width:310;
height:280;

}
.city-legend{

    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding : 0 17px;
   

}
.city-name{
    color:#747474;
    font-weight: 100;
    text-transform: capitalize;


}
.city-link{
text-decoration: none;
    color:white;
    background: #3D83DF;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 10px;
text-transform: uppercase;
font-weight: bold



}
.city-link:hover{
    background: #1662C6;
}

.city:hover{

    box-shadow: 0 4px 15px 8px rgba(0, 0, 0, 0.1)
}

.join-us{
    font-family: Work Sans,Arial,sans-serif;
    zoom: 1;
    max-width: 1015px;
    padding: 50px 50px;
    margin: 0 auto;
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
    margin: 5rem auto;
    display: block;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

footer{


    font-size: 16px;
line-height: 1.3;
font-weight: 400;
font-family: Roboto,Arial,sans-serif;
color: #747474;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;
display: block;
border-top: 1px solid #eef2f2;
text-align: center;
padding: 1em 0;
}

footer  div{


    line-height: 1.3;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    color: #ababab;




}

footer div  p{

    line-height: 1.3;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    margin: 1.6em 0;
    font-size: 12px;
    color: #ababab;
    margin-bottom: .4em;


}
footer  div  p  a{


    line-height: 1.3;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 12px;
    box-sizing: inherit;
    background-color: transparent;
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;


}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.domain-switcher{
    -webkit-font-smoothing: antialiased;
box-sizing: inherit;
color: inherit;
font: inherit;
margin: 0;
height: 40px;
width: 100%;
background: transparent;
border: 0;
border-radius: 0;
padding: 0 2em 0 0;
outline: 0;
text-transform: none;
text-decoration: underline;
cursor: pointer;
}